#cafe {
  display:block;
}

#read {
  display:none;
}

#write {
  display:none;
}

.top-menu {
  width: 640px;
  height: 49px;
  background: #3d4043;
  border-bottom: 1px solid #666666;
  vertical-align: middle;
  text-align: center;
}
.top-menu .keyboard {
  width: 212px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  color: #fffdfd;
  border-right: 2px solid #666666;
  display: block;
  float: left;
  position:relative;
}
.top-menu .read {
  width: 212px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  color: #fffdfd;
  border-right: 2px solid #666666;
  display: block;
  float: left;
  position: relative;
}
.top-menu .write {
  width: 212px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  padding-right: -50px;
  color: #fffdfd;
  display: block;
  float: left;
  position:relative;
}
/* top-menu */
.top-menu .keyboard:hover {
  border-radius: 10px 10px 0 0;
  background-color: #666666;
}
.top-menu .read:hover {
  border-radius: 10px 10px 0 0;
  background-color: #666666;
}
.top-menu .write:hover {
  border-radius: 10px 10px 0 0;
  background-color: #666666;
}
/* top-menu:hover */

.status-bar {
  clear: both;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 49px;
  background: #3d4043;
  border-bottom: 1px solid #666666;
}
.status-bar .status {
  position: relative;
  top: 12.5px;
  left: 17.5px;
  width: 560px;
  height: 25px;
  background: #aeaeae;
  border-radius: 10px;
}

.status-bar .my_btn {
  position: absolute;
  top: 62.5px;
  right: 20px;
  text-align: right;
  width: 25px;
  height: 25px;
  background: url("./img/menu.png") no-repeat;
}

.CAFE {
  background: #263137;
}
.CAFE .k0 {
  position: relative;
  width: 600px;
  height: 300px;
  /* background: #555; */
  margin: 0 auto;
}
.CAFE .k1 {
  position: relative;
  width: 600px;
  height: 300px;
  /* background: #666; */
  margin: 0 auto;
}
.CAFE .k2 {
  position: relative;
  width: 600px;
  height: 300px;
  /* background: #777; */
  margin: 0 auto;
}
/* keyboard */

.k-container {
  position: absolute;
  /* background-color: #fffdfd; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 600px;
  height: 195px;
  margin: auto;
}

.k-container .line1 {
  height: 18px;
  border: 1px solid #d8737f;
  margin-bottom: 5px;
}
.k-container .line2 {
  height: 28px;
  border: 1px solid #d8737f;
  margin-bottom: 5px;
}
.k-container .line3 {
  height: 28px;
  border: 1px solid #d8737f;
  margin-bottom: 5px;
}
.k-container .line4 {
  height: 28px;
  border: 1px solid #d8737f;
  margin-bottom: 5px;
}
.k-container .line5 {
  height: 28px;
  border: 1px solid #d8737f;
  margin-bottom: 5px;
}
.k-container .line6 {
  height: 28px;
  border: 1px solid #d8737f;
}
/* keyboard container */

/* container-write */
.WRITE {
  background: #263137;
  text-align: center;
}
.WRITE .w-container {
  display: inline-block;
}
.WRITE .post-title {
  padding-top: 20px;
  color: #fffdfd;
  font-size: 25px;
  text-align: center;
}
.WRITE .w-container .write-title {
}
.WRITE .w-container .write-contents {
  margin-top: 8px;
}
.WRITE .w-container .write-info-bar {
  margin-top: 15px;
  margin-left: 12px;
  margin-bottom: 8px;
  padding-bottom: 12px;
  width: 600px;
  height: 57px;
  position: relative;
}
.WRITE .w-container .write-info-bar .info {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 453px;
  height: 57px;
  background-color: #fff;
  border-radius: 7px;
}

.WRITE input {
  width: 580px;
  padding: 12px 10px;
  margin: 8px 10px;
  border-radius: 7px;
}
.WRITE textarea {
  width: 580px;
  height: 611px;
  padding: 12px 10px;
  margin: 8px 10px;
  border-radius: 7px;
}
button {
  margin-left: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 25px;
  color: #fff;
  letter-spacing: 3px;
  width: 118px;
  height: 57px;
  border-radius: 7px;
  background: #fcbb6d;
}
/* //container-write */

/* container-read (only read) */
.Qbox {
  height: 620px;
  border-bottom: 2px solid #9f9f9f;
}
.Qbox .write-title {
  padding-top: 8px;
}
.Qbox textarea {
  height: 450px;
}

.user-info {
  padding-left: 12px;
  padding-bottom: 5px;
  color: #9f9f9f;
  font-size: 25px;
  text-align: left;
}
.Abox {
  margin-top: 20px;
}
.Abox textarea {
  height: 150px;
}

.onlyWrite-info-bar {
  position: relative;
  width: 610px;
  height: 57px;
  padding-bottom: 10px;
}
.onlyWrite-info-bar .user-info {
  height: 57px;
  line-height: 57px;
}
