.splash{
  position:fixed;
  top:0;left:0;
  width:100%; height:100vh;
  background:#263137; z-index:200;
  color:white;
  text-align:center;
  line-height:90vh;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  font-size:xx-large;
  color:ivory;
  animation:fadeIn 1s ease-in forwards;
}

.splash.display-none{
  position:fixed;
  top:0;left:0;
  width:100%; height:100vh;
  background:black; z-index:-10;
  color:white;
  text-align:center;
  line-height:90vh;
  opacity:0;
  transition:all 0.5s;
}